.venv
__pycache__
*/__pycache__
.pytest_cache
.env
generated/
generated_migrator/
generated_migrator_md/
*.bak
*/*.egg-info
*.pyc
*.pyo
dist/
build/
.coverage
htmlcov/
*.egg-info/
bandit-report.json
safety_report.json
pip_audit_report.json
user-packs/
